$primary-color: #3862c6;
$secondary-color: #f0f000;
$tertiary-color: #6E7587;

$background-color: rgb(234,234,234);
$footer-background: rgb(34,34,34);

.body-content {
    min-height: 500px;
    
   
}

body{
    background-color: $background-color;
}

footer {
    background-color: $footer-background;
    padding-top: 20px;
    min-height: 80px;
    font-weight: bold;
    font-size: large;
    box-shadow: 0px 500px 0px 500px $footer-background;
    text-align:center;
    border-color: $footer-background;
}

.navbar-inverse
{
    background-color: $footer-background;
}

meter{
-webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
transform: rotate(270deg);

height:80px;
width:450px;

position:absolute;
    bottom:160px;
    left:-50px;
}

.stretch-row
{
    /*padding-right:50px;
    padding-top:300px;*/
    height:500px;
}

.navbar{
   // min-height:100px;
   border-bottom: 5px solid $footer-background;
   border-top: 5px solid $footer-background;
}

.navbar .container{
    
    vertical-align:bottom;
}

.shrink{
    min-height: 35px;
}
li > a {
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-header > a
{
    color: white;
}
.navbar-nav > li > a
{
    color: white;
    line-height:10px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: $footer-background;
    background-color: $secondary-color;
    border-bottom: 5px solid $secondary-color;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    border-bottom: 5px solid $secondary-color;
    }