@{
    ViewBag.Title = "About";
}
<h2 class="col-xs-12 text-center afc-double-border-bottom">Our Agents</h2>

<div class="row">
    <div class="col-xs-12 col-md-5 afc-double-border">
        <div class="afc-inner-content">
            <h3 class="text-center">David Chidyllo</h3>
            <img src="~/Content/Images/Chidyllo_David.jpg" class="img-responsive img-responsive-center" width="200" />
            <ul class="afc-bio-list">
                <li><span>A.S. in Finance from Empire State College</span></li>
                <li><span>Licensed Real Estate Salesperson since 2014</span></li>
                <li><span>Member of National Association of Realtors (NAR), NYS Association of Realtors (NYSAR), Greater Capital Association of Realtors (GCAR) & Capital Region Multiple Listing Service (CRMLS)</span></li>
                <li><span>Five years background in real estate investment within the 5 boroughs of New York City</span></li>
                <li><span>Originally from the Hudson Valley Region of New York</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2 hidden-xs"></div>
    <div class="col-xs-12 col-md-5">
        <div class="afc-double-border">
            <h3 class="text-center">Jim Rosenberger</h3>
            <img src="~/Content/Images/J_Rosenberger.jpg" class="img-responsive img-responsive-center" width="200" />
            <ul class="afc-bio-list">
                <li><span>Has spent numerous years in the service industry</span></li>
                <li><span>Lifelong resident of the Albany, NY area</span></li>
                <li><span>Member of National Association of Realtors (NAR), NYS Association of Realtors (NYSAR), Greater Capital Association of Realtors (GCAR), Capital Region Multiple Listing Service (CRMLS)</span></li>
                <li><span>Belief in "HI-5" program – Honesty, Integrity and the 5 "C's – care, client relationships, confidence, communication and connection</span></li>
            </ul>
        </div>
    </div>
</div>